<mat-horizontal-stepper linear labelPosition="bottom" #stepper>
  <mat-step [stepControl]="basicFormGroup">
    <form [formGroup]="basicFormGroup">
      <ng-template matStepLabel>Fill out basic information</ng-template>
      <mat-form-field>
        <mat-label>Full Name</mat-label>
        <input matInput type="text" placeholder="Full name" formControlName="name" required>
        <mat-error
          *ngIf="basicFormGroup.invalid && (basicFormGroup.controls.name.dirty || basicFormGroup.controls.name.touched)">
          <span *ngIf="basicFormGroup.hasError('required','name')">Full name is required.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="dob" [max]="maxDate" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob color="primary"></mat-datepicker>
        <mat-error
          *ngIf="basicFormGroup.invalid && (basicFormGroup.controls.dob.dirty || basicFormGroup.controls.dob.touched)">
          <span *ngIf="basicFormGroup.hasError('required','dob')">Date of Birth is required.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mobile</mat-label>
        <input matInput type="tel" placeholder="Mobile" formControlName="mobile" maxlength="10" required>
        <mat-error
          *ngIf="basicFormGroup.invalid && (basicFormGroup.controls.mobile.dirty || basicFormGroup.controls.mobile.touched)">
          <span *ngIf="basicFormGroup.hasError('required','mobile')">Mobile is required.</span>
          <span *ngIf="basicFormGroup.hasError('minlength','mobile')">It must be 10 characters length.</span>
          <span *ngIf="basicFormGroup.hasError('pattern','mobile')">accepts only numbers.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" required>
        <mat-error
          *ngIf="basicFormGroup.invalid && (basicFormGroup.controls.address.dirty || basicFormGroup.controls.address.touched)">
          <span *ngIf="basicFormGroup.hasError('required','address')">Address is required.</span>
        </mat-error>
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button color="primary" matStepperNext (click)="next('basic')">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="identityFormGroup">
    <form [formGroup]="identityFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Aadhar No.</mat-label>
        <input matInput type="text" placeholder="Addhar No." formControlName="aadar">
      </mat-form-field>
      <mat-form-field>
        <mat-label>PAN No.</mat-label>
        <input matInput type="text" placeholder="PAN No." formControlName="pan">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Passport No.</mat-label>
        <input matInput type="text" placeholder="Passport No." formControlName="passport">
      </mat-form-field>
      <mat-form-field>
        <mat-label>EPIC No.</mat-label>
        <input matInput type="text" placeholder="EPIC No." formControlName="election">
      </mat-form-field>
      <div class="actions">
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext (click)="next('identity')">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="residencyFormGroup" optional>
    <form [formGroup]="residencyFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Electricity</mat-label>
        <input matInput type="text" placeholder="Electricity No." formControlName="electricity">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Food Security Card No.</mat-label>
        <input matInput type="text" placeholder="Food Security Card No." formControlName="ration">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Other Certificates</mat-label>
        <input matInput type="text" placeholder="Other ceritificates" formControlName="other">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Leaving Cert No.</mat-label>
        <input matInput type="text" placeholder="Leaving Cert No." formControlName="leave">
      </mat-form-field>
      <div class="actions">
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext (click)="next('residency')">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="drivingFormGroup">
    <form [formGroup]="drivingFormGroup">
      <ng-template matStepLabel>Fill out your driving licence information</ng-template>
      <mat-form-field>
        <mat-label>Driving Licence No.</mat-label>
        <input matInput type="text" placeholder="Driving Licence" formControlName="driving" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Driving Licence Type</mat-label>
        <mat-select [(value)]="selectedLicenceType" formControlName="drivingType" required>
          <mat-option *ngFor="let type of licenceTypes" [value]="type.code">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" *ngIf="['NT&T','NT'].indexOf(selectedLicenceType) > -1">
        <mat-label>Non Transport upto</mat-label>
        <input matInput [matDatepicker]="ntlUpto" formControlName="nonTransportLicenceUpto"
          placeholder="Non Transport upto">
        <mat-datepicker-toggle matSuffix [for]="ntlUpto"></mat-datepicker-toggle>
        <mat-datepicker #ntlUpto color="primary"></mat-datepicker>
      </mat-form-field>
      <mat-form-field color="accent" *ngIf="['NT&T','T'].indexOf(selectedLicenceType) > -1">
        <mat-label>Transport Licence Upto</mat-label>
        <input matInput [matDatepicker]="tlUpto" formControlName="transportLicenceUpto"
          placeholder="Transport Licence Upto">
        <mat-datepicker-toggle matSuffix [for]="tlUpto"></mat-datepicker-toggle>
        <mat-datepicker #tlUpto color="primary"></mat-datepicker>
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext (click)="next('driving')">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div class="actions">
      <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
      <button mat-raised-button color="accent" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="complete()">Submit</button>
    </div>
  </mat-step>
  <!-- <mat-step [stepControl]="uploadFormGroup">
      <form [formGroup]="uploadFormGroup">
        <ng-template matStepLabel>Upload Files</ng-template>
        <p>upload files here.</p>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-card>
              <mat-card-content>
                <mat-form-field appearance="outline">
                  <mat-label>PAN Card</mat-label>
                  <ngx-mat-file-input formControlName="panFile" placeholder="PAN Card"></ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Addhar card</mat-label>
                  <ngx-mat-file-input type="file" placeholder="Addhar card" formControlName="aadarFile" required>
                  </ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Food Security Card</mat-label>
                  <ngx-mat-file-input type="file" placeholder="Food Security Card" formControlName="rationFile" required>
                  </ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card>
              <mat-card-content>
                <mat-form-field appearance="outline">
                  <mat-label>Passport</mat-label>
                  <ngx-mat-file-input type="file" placeholder="Passport" formControlName="passportFile" required>
                  </ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Passport</mat-label>
                  <ngx-mat-file-input type="file" placeholder="EPIC Card" formControlName="electionFile" required>
                  </ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driving Licence</mat-label>
                  <ngx-mat-file-input type="file" placeholder="Addhar card" formControlName="drivingFile" required>
                  </ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <div class="actions">
          <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="complete()">Submit</button>
        </div>
      </form>
    </mat-step> -->
</mat-horizontal-stepper>