<mat-sidenav-container>
    <mat-sidenav mode="side" opened="false" #snav>
        <mat-nav-list>
            <a mat-list-item routerLink="login" *ngIf="!isLoggedIn" routerLinkActive="active-link">Login</a>
            <div *ngFor="let menu of navRoutes">
                <ng-container *ngIf="menu.showMenu">
                    <a mat-list-item routerLink="{{menu.link}}" *ngIf="menu.showMenu" routerLinkActive="active-link">
                        {{ menu.name }} </a>
                </ng-container>
            </div>
            <a mat-list-item *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [sideMenuBar]="snav" [homeLink]="homePageUrl"></app-header>
        <div class="main_route_content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-container menuItems *ngIf="navRoutes.length">

</ng-container>