<mat-sidenav-container>
    <mat-sidenav mode="side" opened="false" #snav>
        <mat-nav-list>
            <!-- [routerLinkActiveOptions]="{exact:true}" -->
            <a mat-list-item routerLink="{{menu.link}}"  routerLinkActive="active-link"  *ngFor="let menu of navRoutes"> {{ menu.name }} </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [sideMenuBar]="snav"></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>