form {
    margin: 5% 30%;
    width: 40%;
    height: 50%;

    mat-card {
        border-radius: 8px;
        margin-bottom: 5%;

        mat-form-field {
            width: 95%;
            padding: 10px;
        }

        mat-card-actions {
            overflow: auto;

            button {
                width: 100% !important;
            }
        }

        mat-card-footer {
            padding-right: 3%;
        }
    }
}
